/* imported items */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import items end */

*,
html,
body {
  /* margin: 0px;
  padding: 0px; */
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
}

/* shared style start */

.primary-btn {
  border: none;
  border-radius: 8px;
  background-color: #006a50;
  color: #ffffff;
  padding: 17px 34px;
  text-align: center;
}

.section-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

/* shared style end */

header,
main {
  max-width: 1280px;
  margin: 0 auto;
  /* border: 2px solid gray; */
}

/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.nav-btn button {
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
}

/* nav style end */

/* banner section start */
.banner {
  width: 100%;
  border-radius: 24px;
  background-color: #c6e4d6;
  min-height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-title {
  color: #0e0e0e80;
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.hero-title {
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
}

.hero-btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.hero-btn:hover {
  background-color: darkgreen;
}
/* banner section end */

/* pilllars section start */
.pillars {
  margin-top: 80px;
}

.pillars-container {
  display: flex;
  gap: 24px;
}

.pillar {
  width: 302px;
  max-height: 245px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
}

.pillar-title {
  color: #0e0e0ecc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.pillar-description{
  color: #0E0E0EB3;
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: left;
}

/* pillars section end*/
