/* imported items */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* import items end */

*,
html,
body {
  /* margin: 0px;
  padding: 0px; */
  font-family: "Fira Sans", serif;
}

body {
  background-color: #f5f5f5;
}

/* shared style start */

.primary-btn {
  border: none;
  border-radius: 8px;
  background-color: #006a50;
  color: #ffffff;
  padding: 17px 34px;
  text-align: center;
}

.section-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}

.section-description {
  color: #0e0e0eb3;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.box-title {
  color: #0e0e0ecc;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.box-description {
  color: #0e0e0eb3;
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.pointer {
  cursor: pointer;
}
/* shared style end */

header,
main,
.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  /* border: 2px solid gray; */
}

/* nav style start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.nav-btn button {
  padding: 15px 30px;
  border: 1px solid #006a50;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #006a50;
  cursor: pointer;
}

.nav-btn button:hover {
  background-color: #c6e4d6;
}

/* nav style end */

/* banner section start */
.banner {
  width: 100%;
  border-radius: 24px;
  background-color: #c6e4d6;
  min-height: 560px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-title {
  color: #0e0e0e80;
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
}

.hero-title {
  color: #0e0e0e;
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
}

.hero-btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #F30200;
}
/* banner section end */

/* pilllars section start */
.pillars {
  margin-top: 80px;
}

.pillars-container {
  display: flex;
  gap: 24px;
}

.pillar {
  width: 302px;
  max-height: 245px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
}

/* pillars section end*/

/* vision section start */
.visions {
  margin-top: 80px;
  width: 100%;
}

.visions-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.vision-box {
  width: 410px;
  height: 325px;
  padding: 32px;
  background-color: #c6e4d6;
  border-radius: 16px;
}

.vision-btn-1 {
  padding: 11px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background-color: #5490f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.vision-btn-2 {
  padding: 11px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  background-color: #09a15c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.vision-btn-3 {
  padding: 11px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  background-color: #ffc239;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
/* vision section end */

/* quote section start */
.quote {
  max-width: 100%;
  border: 1px solid #0e0e0e26;
  border-radius: 16px;
  margin-top: 32px;
  max-height: 256px;
  background-color: #ffffff;
  padding: 48px 24px;
}

.quote-container{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  padding: 8px;

}

.quote-container .quote-description {
  color: #0e0e0ecc;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.quote .quote-name {
  color: #0e0e0ecc;
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.quote .quote-info {
  color: #0E0E0E99;
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* quote section end */

/* recent news section start */
.newses {
  margin-top: 80px;
}

.news-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news {
  padding: 48px;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  gap: 32px;
}

.news > img {
  border-radius: 24px;
}

.news-info .news-title {
  color: #0e0e0ecc;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.news-info .news-description {
  color: #0e0e0eb3;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.news-info button {
  border: none;
  border-radius: 8px;
  padding: 13px 26px;
  margin-top: 32px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
/* recent news section end  */

/* Donate section start */
.donate {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donate-title {
  text-align: center;
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.donate-description {
  color: #0e0e0eb3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.money-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.money-container .amount {
  width: 240px;
  height: 125px;
  background-color: #ffffff;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.money-container #selected {
  background-color: #c6e4d6;
}

.money-container #selected:hover {
  background-color: #96cab2;
}

.money-container .amount:hover {
  background-color: #c6e4d6;
}

.donate textarea {
  width: 1030px;
  height: 65px;
  margin: 32px auto;
  outline: none;
  border: none;
}

.donate textarea::placeholder {
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
}
/* Donate section end */

/* subscribe section start */
.subscribe {
  max-width: 100%;
  height: 395px;
  margin-top: 80px;
  padding: 80px 100px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-field {
  display: flex;
  margin-top: 24px;
}

.subscribe .sub-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.subscribe .sub-description {
  color: #0e0e0eb3;
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.sub-field input {
  width: 600px;
  min-height: 35px;
  padding: 18px 40px;
  border: none;
  outline: none;
  border-radius: 8px 0px 0px 8px;
  color: #0e0e0e4d;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.sub-field button {
  border: none;
  border-radius: 0px 8px 8px 0px;
  background-color: #006a50;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  padding: 17px 34px;
}

.subscribe .sub-last {
  color: #0e0e0eb3;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 25px;
}
/* subscriobe section end */

/* Footer start */
footer {
  margin: 80px 0;
  padding: 50px 160px;
  background-color: #ffffff;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container .vertical-line {
  width: 1122px;
  border-bottom: 1px solid #0e0e0e1a;
  margin: 32px 0;
}

.footer-container .social-icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

/* Footer end */
